<div
  class="game"
  {{did-insert this.maybeShowPostGameState}}
  {{did-update this.maybeShowPostGameState this.model.status}}
>
  <header class="game__header">
    <button class="game__header__button" type="button">
      {{inline-svg 'assets/icons/info'}}
    </button>
    <button
      class="game__header__button"
      type="button"
      {{on 'click' this.openStatsModal}}
    >
      {{inline-svg 'assets/icons/stats'}}
    </button>
  </header>
  <div class="game__main-area">
    <Toasts />
    <Game::Grid
      @submittedInputs={{this.model.inputs}}
      @currentInput={{this.currentInput}}
      @evaluations={{this.model.evaluations}}
      @isLastWordInvalid={{this.isLastSubmissionInvalid}}
    />
    <div class="game__button-row">
      {{#if this.showNextGameButton}}
        <button class="button" {{on 'click' this.nextGame}}>
          Next Game
        </button>
      {{/if}}
    </div>
  </div>
  <div class="game__keyboard-container">
    <Game::Keyboard @handleInput={{this.handleInput}} />
  </div>
</div>
{{#if this.isStatsModalOpen}}
  <StatsModal @onClose={{this.closeStatsModal}} @games={{this.games}} />
{{/if}}