<div class="game" {{did-insert this.maybeShowModal}}>
  <header class="game__header">
    <button
      class="game__header__button"
      type="button"
      {{on 'click' this.openHelpModal}}
    >
      {{inline-svg 'assets/icons/info'}}
    </button>
    <div class="game__header__button-group">
      <button
        class="game__header__button"
        type="button"
        {{on 'click' this.openStatsModal}}
      >
        {{inline-svg 'assets/icons/stats'}}
      </button>
      <a href="https://github.com/tim-zhong/ember-wordle" target="_blank">
        <button class="game__header__button" type="button">
          {{inline-svg 'assets/icons/github'}}
        </button>
      </a>
    </div>
  </header>
  <div class="game__main-area">
    <Toasts />
    <Game::Grid
      @submittedInputs={{this.model.inputs}}
      @currentInput={{this.currentInput}}
      @evaluations={{this.model.evaluations}}
      @isLastWordInvalid={{this.isLastSubmissionInvalid}}
    />
    {{#if this.showNextGameButton}}
      <div class="game__button-overlay">
        <button class="button" type="button" {{on 'click' this.nextGame}}>
          Next Game
        </button>
      </div>
    {{/if}}
  </div>
  <div class="game__keyboard-container">
    <Game::Keyboard
      @handleInput={{this.handleInput}}
      @inputs={{this.model.inputs}}
      @evaluations={{this.model.evaluations}}
    />
  </div>
</div>
{{#if this.isStatsModalOpen}}
  <StatsModal
    @onClose={{this.closeStatsModal}}
    @games={{this.allGames}}
    @goToNextGame={{if this.model.status this.nextGame}}
  />
{{/if}}
{{#if this.isHelpModalOpen}}
  <HelpModal @onClose={{this.closeHelpModal}} />
{{/if}}