<div class="game">
  <div class="game__main-area">
    <Toasts />
    <Game::Grid
      @submittedInputs={{this.model.inputs}}
      @currentInput={{this.currentInput}}
      @evaluations={{this.model.evaluations}}
      @isLastWordInvalid={{this.isLastSubmissionInvalid}}
    />
  </div>
  <div class="game__keyboard-container">
    <Game::Keyboard @handleInput={{this.handleInput}} />
  </div>
</div>
<Modal>
  Hello
</Modal>